<settings>
		<pluginGroups>
			<pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
		</pluginGroups>
		<profiles>
			<profile>
				<id>sonar</id>
				<activation>
					<activeByDefault>true</activeByDefault>
				</activation>
				<properties>

				</properties>
			</profile>
		</profiles>
	</settings>